img{
    display: block;
width: 75%;
    padding: 5px;
}
#titel{
    color: antiquewhite;
    text-align: center;
}
body{
    background-color: antiquewhite;
    text-align: center;
    margin: 5px;
}
.active{
    background-color: lightblue;
}
footer{
    min-height: 200px;
}
label{
    text-align: right;
   
}
input, textarea{
    margin-bottom: 10px;
}
.btn{
    border-radius: 10px;
}